@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

  @media print {
  
      .print-button {
          display: none; /* Masquer le bouton d'impression lors de l'impression */
      }
  
      /* Vous pouvez également personnaliser d'autres styles d'impression ici */
      body * {
          display: none; /* Masquer tout le contenu par défaut */
      }
  
      /* Afficher uniquement le contenu à imprimer */
      #printable-area, #printable-area * {
          display: block;
         
      }

      .print-flex {
        display: flex;
        width: 100px;
        flex-direction: column; /* Ou 'row' selon votre besoin */
        justify-content: center;
        align-items: flex-start; /* Alignez comme vous le souhaitez */
    }
    #imprimer{
      display: none;
    }
    title{
      display: none;
    }



  }
